/JavaApplication12/nbproject/private/
/ADA_Assignment_1/nbproject/private/
/ADA_Assignment_1/build/
/ADA_Assignment_1/dist/
/ADA_Assignment_3/nbproject/private/
/ADA_Assignment_3/build/
/ADA_Assignment_4/nbproject/private/
